[Unit]
Description=Disable Wifi Powersave

[Service]
Type=oneshot
ExecStart=echo -1 > /sys/module/usbcore/parameters/autosuspend

[Install]
WantedBy=multi-user.target